<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .realizada {
        text-decoration: line-through;
        color: grey;
    }

    .prioritario {
        color: red;
    }
</style>

<body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="app">
        <h2>Lista de Tarefas</h2>
        <input type="text" @keyup.enter="insereTarefa(texto)" v-model="texto">
        <button @click="insereTarefa(texto)">Inserir</button>
        <button @click="toggleEdit">Editar</button>
        <ul v-if="!edit">
            <li v-for="item in tarefas" :class="{realizada: item.realizada, prioritario:item.prioritario}"
                @click="realizaTarefa(item)">
                {{item.nome}}
            </li>
        </ul>
        <ul v-if="edit">
            <li v-for="item in tarefas" :class="{realizada: item.realizada, prioritario:item.prioritario}"
                @click="realizaTarefa(item)">
                <input type="text" v-model="item.nome">
                <input type="checkbox" v-model="item.prioritario">
                <input type="checkbox" v-model="item.realizada">
            </li>
        </ul>
    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    texto: '',
                    edit: false,
                    tarefas: [{
                        nome: 'Exercício de HTML',
                        prioritario: false,
                        realizada: true,
                    }, {
                        nome: 'Exercício de CSS',
                        prioritario: false,
                        realizada: false,
                    }, {
                        nome: 'Exercício de JavaScript',
                        prioritario: false,
                        realizada: false,
                    }, {
                        nome: 'Exercício de VueJS',
                        prioritario: true,
                        realizada: false,
                    }, {
                        nome: 'Juntar tudo no Projeto 1',
                        prioritario: false,
                        realizada: false,
                    }]
                }
            },
            methods: {
                realizaTarefa: function (item) {
                    item.realizada = !item.realizada
                },
                insereTarefa: function (item) {
                    if (this.texto.length >= 5) {
                        this.tarefas.push({
                            nome: this.texto,
                            prioritario: false,
                            realizada: false,
                        })
                        this.texto = ''
                    }

                }

            }
        }).mount('#app')
    </script>

</body>

</html>